* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex: 1;
}

header {
    width: 100vw;
    height: 75px;
    -webkit-box-shadow: inset 1px -169px 41px -180px rgba(0,0,0,1);
    -moz-box-shadow: inset 1px -169px 41px -180px rgba(0,0,0,1);
    box-shadow: inset 1px -169px 41px -180px rgba(0,0,0,1);
}

div {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(127, 255, 212, 0.193);
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    width: 120px;
    height: 40px;
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    font-size: 27px;
    cursor: pointer;
}

span {
    font-size: 27px;
}